# modules
node_modules/

# temp
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# binary
*.exe

# folders
.svelte-kit/
package/
build/
dist/
_*/
pocketbase/

# macos
.DS_Store

# secrets
.env
.env.*
!.env.example